<!DOCTYPE html>
<html>
  <head>
    <title>Dreamersday</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis|Niconne' rel='stylesheet' type='text/css' />
    <meta name="google-site-verification" content="J-rU6yTuArS9_3GZfXYy4buBeA8Lg_SoC5yHL2QRpkk" /> 

    <!-- Facebook OG -->
    <meta property="og:title" content="Dreamers&#039; Day" />
    <meta property="og:type" content="university" />
    <meta property="og:url" content="http://www.dreamersday.tw/" />
    <meta property="og:image" content="https://photos-6.dropbox.com/t/0/AAArrNFF964l-TpTBiL325OrJqTG4XPffVHPyNXpHikGMA/10/21745098/jpeg/1024x768/2/1351850400/0/2/Dreamersdaypic.001.jpg/m31Ee3O9Sh8SlP_cOhKKzurby90Yc-cTlQxryzHcHmY"/>
    <meta property="og:description" content="Dreamers' Day 起源於11年11月，由台大學生自發性舉辦的網路創業社群，每半年在校內舉辦一次大型聚會。目的帶起學生創業風氣，增家國家競爭力。
參與成員多為充滿熱誠、理想的台大學生，努力讓把自己的想法化為能夠創造價值的產品。因為我們認為肩上有擔子，必須扛起這份責任，對這社會、成長的環境，將夢想、理想實現。"/>
    <meta property="og:site_name" content="Dreamers&#039; Day" />
    <meta property="fb:admins" content="100003544640331" />

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36038680-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
